*{
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    display: flex;
    margin-top: 200px;
    background-colo: cadetblue;
    min-width: 100vh;
    background-image: url(rakesh.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: top;

    
}
.warper{
    background:transparent;
    border: 2px solid rgba(247, 244, 244, .2);
    backdrop-filter: blur(5px);
    width: 370px;
    height: 215px;
    color:white;
    border-radius: 10px;

}
h1{
    text-align: center;
    margin-bottom: 10px;
}
div {
    margin-left: 90px;
}
.pass{
    margin-top: 20px;
}
.checkbox{
    margin-left: 20px;
    margin-top: 10px;

}
.checkbox a{
    margin-left: 60px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: antiquewhite;
    
}
.checkbox a:hover{
    text-decoration: underline;
}
button
{
    margin-left: 125px;
    width: 100px;
    height: 25px;
    border-radius: 30px;
    margin-top: 10px;
}
button:hover{
    background-color: blueviolet;
    color: aliceblue;
}
.end{
    margin-left: 60px;
    margin-top: 10px;
}
.end a:hover{
    text-decoration: underline;
}
.end a{
    margin-left: 1;
}
